{{ if and (ne .Params.toc false) (ne .TableOfContents "<nav id=\"TableOfContentsMobile\"></nav>") -}}
<div class="d-xl-none">
  <button class="btn btn-outline-primary btn-sm doks-toc-toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#onThisPage" aria-controls="doks-docs-nav" aria-expanded="true" aria-label="Toggle On this page navigation">
    <span>{{ i18n "on-this-page" }}</span>
    <span>
      <!-- SVG icons omitted for brevity -->
    </span>
  </button>
  <div class="show" id="onThisPage">
    <div class="card card-body mt-3 py-1">
      <div class="page-links">
        {{ .TableOfContents | replaceRE "<nav id=\"TableOfContents\">" "<nav id=\"TableOfContentsMobile\">" | safeHTML }}
      </div>
    </div>
  </div>
</div>
<div class="page-links d-none d-xl-block mainTableOfContents">
  <h3>{{ i18n "on-this-page" }}</h3>
  {{ if eq .Site.Params.options.scrollSpy true -}}
    {{ .TableOfContents | replaceRE "<nav id=\"TableOfContents\">" "<nav id=\"toc\">" | safeHTML }}
  {{ else -}}
    {{ .TableOfContents | replaceRE "<nav id=\"TableOfContents\">" "<nav id=\"TableOfContents\">" | safeHTML }}
  {{ end -}}
</div>
{{ end -}}
