<head>
  <!-- GTAG -->
  {{ partial "custom/gtagHead" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
  {{ block "head/custom-head" . }}{{ partial "head/custom-head.html" . }}{{ end }}
  <!-- アプリロゴ -->
  {{ partial "custom/logo-json" . }}
</head>
