// 本文エリア用のCSS
#body-inner {
  h1 {
    color: $baseColor;
    text-align: left;
    font-weight: bold;
  }
  h2 {
    color: $accentColor;
    font-weight: bold;
  }
  h3 {
    color: $sideColor;
    font-size: 160%;
    font-weight: bold;
  }
  h4 {
    color: $sideColor;
    font-size: 130%;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
  }
  ol {
    font-size: 105%;
    color: $accentColor;
    border-left: dashed 2px $accentColor;
    li {
      line-height: 1.5;
      padding: 0.5em 0;
      font-weight: 700;
      font-size: 110%;
    }
  }
  ul {
    font-size: 105%;
    padding: 0;
    list-style: square;
    li {
      padding: 0;
      margin-left: 15px;
      color: $accentColor;
      font-weight: bold;
    }
  }
  // vue.js読み込みまでのデータを隠す処理
  [v-cloak] {
    display: none;
  }
}
a:hover {
  text-decoration: underline ;
}
#shortcuts {
  h3 {
    font-size: 150%;
    border: none;
    border-bottom: 2px dotted #ccc;
  }
  ul li {
    font-size: 20px;
    font-weight: bold;
  }
}
.baseBtn {
  background-color: $baseColor;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 19px;
  &:hover {
    background-color: $subColor;
    color: white;
  }
}
/* 記事内で適用されるボタン.大きめ */
.my_button {
  @extend .baseBtn;
  padding: 15px 20px;
}
/* 画面右上アプリ起動ボタン. 小さめ */
.top_right_btn {
  @extend .baseBtn;
}
/* CalltoActionのボタン */
.cta_btn{
  @extend .baseBtn;
  width: 309px;
  max-width: 100%;
  padding: 14px 0 16px 0;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/** パンくずリストナビゲーション（上田カスタマイズモデル) */
#breadcrumbsNavigations {
  max-width: 100%;
  overflow: auto;
  list-style: none;
  ul {
    padding: 0;
    li {
      display: inline;
      list-style: none;
      font-weight: bold;
    }
    li:after {
      content: ' > ';
      padding: 0 0.2em;
      color: #555;
    }
    li:last-child:after {
      content: '';
    }
    li a {
      text-decoration: none;
    }
    li a:hover {
      text-decoration: underline;
    }  
  }
}
/** テーブルオブコンテンツ */
#tableOfContents {
  padding:5px;
  background: #f6f6f6;
  overflow: auto;
  .mokuji {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
  }
}

.tocIsClose {
  #tocArea {
    display: none;
  }
}