@import "fukidashi.scss";
@import "slide.scss";
@import "flexy.scss";

// 本文エリア用のCSS
#body-inner {
  h1 {
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
  }
  h2 {
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
  }
  h3 {
    color: blueviolet;
    font-size: 160%;
    font-weight: 600;
  }
  h4 {
    color: blueviolet;
    font-size: 130%;
    font-weight: 600;
  }
  p {
    font-size: 110%;
  }
  ol {
    color: blueviolet;
    border: dashed 2px blueviolet;
    background: #f9f1ff;
    padding: 0.5em 0.5em 0.5em 2em;
    li {
      line-height: 1.5;
      padding: 0.5em 0;
      font-weight: 700;
      font-size: 110%;
    }
  }
  ul {
    padding: 0;
    font: 14px/1.6 'arial narrow', sans-serif;
    list-style: none;
    li{
      position: relative;
      padding: 0.5em 1em 0.5em 2.3em;
      margin-bottom:5px;
      color: rgb(134, 49, 188);
      font-size: 15px;
      font-weight: bold;
    }
    li:after,
    li:before{
      content: "";
      position: absolute;
      border-radius: 50%;
    }
    li:before{
      left: 0.2em;
      width: 17px;
      height: 17px;
      background: rgba(61, 6, 97, 0.5);
      top: 50%;
      transform: translateY(-50%);
    }
    li:after{
      top: 1.1em;
      left: 0.7em;
      width: 14px;
      height: 14px;
      background: rgba(50, 6, 107, 0.3);
    }
  }
  // vue.js読み込みまでのデータを隠す処理
  [v-cloak] {
    display: none;
  }
}
#shortcuts {
  h3 {
    border: none;
    border-bottom: 2px dotted #ccc;
  }
  ul li {
    font-size: 20px;
    font-weight: bold;
  }
}

