@import "fukidashi.scss";
@import "slide.scss";
@import "flexy.scss";

// 本文エリア用のCSS
#body-inner {
  h1 {
    font-size: 200%;
    white-space: pre-wrap;
    color: #364e96;
    font-weight: 600;
    border: solid 3px #364e96;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  h2 {
    font-size: 180%;
    color: blueviolet;
    font-weight: 600;
    padding: 10px;
    border-left: solid 13px blueviolet;
  }
  h3 {
    color: blueviolet;
    font-size: 160%;
    font-weight: 600;
  }
  h4 {
    color: blueviolet;
    font-size: 130%;
    font-weight: 600;
  }
  p {
    font-size: 110%;
  }
  ol {
    font-size: 105%;
    color: blueviolet;
    border-left: dashed 2px blueviolet;
    li {
      line-height: 1.5;
      padding: 0.5em 0;
      font-weight: 700;
      font-size: 110%;
    }
  }
  ul {
    font-size: 105%;
    padding: 0;
    list-style: none;
    li{
      position: relative;
      padding: 0.5em 1em 0.5em 2.3em;
      margin-bottom:5px;
      color: rgb(134, 49, 188);
      font-size: 15px;
      font-weight: bold;
    }
    li:after,
    li:before{
      content: "";
      position: absolute;
      border-radius: 50%;
    }
    li:before{
      left: 0.2em;
      width: 17px;
      height: 17px;
      background: rgba(61, 6, 97, 0.5);
      top: 50%;
      transform: translateY(-50%);
    }
    li:after{
      top: 1.1em;
      left: 0.7em;
      width: 14px;
      height: 14px;
      background: rgba(50, 6, 107, 0.3);
    }
  }
  // vue.js読み込みまでのデータを隠す処理
  [v-cloak] {
    display: none;
  }
}
#shortcuts {
  h3 {
    font-size: 150%;
    border: none;
    border-bottom: 2px dotted #ccc;
  }
  ul li {
    font-size: 20px;
    font-weight: bold;
  }
}

#chapter {
  h1 {
    background-color: #364e96;
    color: white;
    font-weight: 600;
    border: solid 3px #364e96;
    padding: 0.5em;
    border-radius: 0.5em;
  }
}

.cta_btn{
  width: 309px;
  max-width: 100%;
  padding: 14px 0 16px 0;
  font-size: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: #fff;
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;

  &:hover {
    background-color: pink;
    text-decoration: none;
  }
}

.top_left_btn {
  background-color: #722ed2d4;
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 19px;

  &:hover {
    background-color: pink;
  }
}
