/* 全体設定 */
.css-carousel-slider {
  width: 100%;
  max-width: 1200px;/* サイズ設定をする場合はここ(*1) */
  overflow: hidden;
  position: relative;
}
.css-carousel-slider img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider .slide-wrap {
  width: 500%; /* 画像の合計数*100%を設定(*2) */
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  animation: css-carousel-slider 20s infinite; /* スライダーアニメーション全体の時間(*3) */
  animation-delay: 2s; /* スライダーが始まるまでの時間(*4) */
}
.css-carousel-slider .slide-wrap-main {
  width: 100%;
  z-index: 1;
  animation: css-carousel-slider-main 20s infinite; /* (*3)と同じ内容を設定 */
  animation-delay: 2s; /* (*4)と同じ内容を設定 */
}
.css-carousel-slider .slide {
  width: 100%;
}

/* スライダーアニメーションの設定(*5) */
@keyframes css-carousel-slider {
  0% { transform: translateX(0); }

  20% { transform: translateX(calc(1 / 5 * -100%)); }
  25% { transform: translateX(calc(1 / 5 * -100%)); }

  45% { transform: translateX(calc(2 / 5 * -100%)); }
  50% { transform: translateX(calc(2 / 5 * -100%)); }

  70% { transform: translateX(calc(3 / 5 * -100%)); }
  75% { transform: translateX(calc(3 / 5 * -100%)); }

  95% { transform: translateX(calc(4 / 5 * -100%)); }
  100% { transform: translateX(calc(4 / 5 * -100%)); }
}

@keyframes css-carousel-slider-main {
  0% { transform: translateX(100%); }
  75% { transform: translateX(100%); }
  95% { transform: translateX(0%);}
}