<nav class="footer-nav" style="overflow: hidden;">
    {{/* 1. showBottom: true の記事を取得 */}}
    {{ $footerPages := where .Site.RegularPages ".Params.toc" true }}

    {{/* 2. 取得した記事をセクション名でグループ化（カテゴリ分け）*/}}
    {{ $groupedPages := $footerPages.GroupBy "Section" }}

    {{/* 修正点: Bootstrapの行クラス (row) を使用 */}}
    <div class="row px-2"> 
        
        {{/* 3. グループ化された各セクション（列）を処理 */}}
        {{ range $groupedPages }}
        
        {{/* 修正点: Bootstrapの列クラス (col-md-3など) を使用 */}}
        {{/* col-md-3 は中サイズ以上の画面で12/3=4列を意味します */}}
        <div class="footer-column col-16 col-lg-3 col-md-4 col-sm-8 col-xs-16"> 

             {{/* ⭐ 修正点1: セクション名と表示名のマッピング（辞書）を定義 ⭐ */}}
    {{ $sectionMap := dict 
        "docs" "NipoPlusマニュアル" 
        "excel" "エクセル活用テクニック" 
        "legacy" "旧バージョンのNipo" 
        "news" "お知らせ" 
        "tech" "技術ブログ" 
        "tips" "便利な使い方"
    }}
     {{/* ⭐ 修正点2: 表示するセクション名を取得 ⭐ */}}
        {{ $sectionKey := .Key }}
        {{ $sectionTitle := default $sectionKey (index $sectionMap $sectionKey) }}

            
            {{/* セクション名（列のタイトル）を表示 */}}
            <h4 class="column-title">{{ $sectionTitle }}</h4>
            
            <ul class="list-unstyled column-list">
                {{/* 4. グループ内の記事を処理 */}}
                {{ range sort .Pages "Params.bottomWeight" }}
                 {{ $linkText := default .Title .Params.menuTitle }}

                <li class="nav-item">
                    <a href="{{ .Permalink | relURL }}" title="{{ .Title }}">
                        {{ $linkText }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
        
        {{/* 5. その他の固定リンク用の列を追加 */}}
        {{/* 固定リンク用も col-md-3 で1列分として扱う */}}
        <div class="footer-column utility-links col-12 col-md-3">
            <h4 class="column-title">その他</h4>
            <ul class="list-unstyled column-list">
                <li class="nav-item"><a href="/others/inquery/" relURL>お問い合わせ</a></li>
                <li class="nav-item"><a href="/docs/system/privacy-policy/" relURL>プライバシーポリシー</a></li>
                </ul>
        </div>
        
    </div>
</nav>
