{{ define "main" }}
<div class="wrap container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}" role="document">
	<div class="content" style="max-width: 2000px;margin-left:auto;margin-right:auto">

<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    <h1 class="text-center">{{ .Title }}</h1>
    {{ with .Content -}}<div class="text-center">{{ . }}</div>{{ end -}}
  </div>
</div>
<div class="row g-lg-5" >
  {{ $paginator := .Paginate (.Data.Pages) -}}
  {{ range $paginator.Pages -}}
  <div class="col-md-8 col-xs-16 mb-3">
    <a class="noUnderline" href="{{ .RelPermalink }}">
      <div class="card" style="border:1px solid purple">
        <div class="row">
          <!-- Image on the left -->
          <!--
          <div class="col-lg-4">
            {{- .Scratch.Set "fillImage" "1270x620 Center" -}}
            {{ partial "content/card-image.html" . }}
          </div>
        -->
          <!-- Content on the right -->
          <div class="col-lg-18">
            <div class="card-body">
              <article>
                <h2 style="margin: 0;padding:0;">{{ .Params.title }}</h2>
                <p>{{ .Params.description | safeHTML }}</p>
                <div></div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </a>

  </div>
  {{ end -}}
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    {{ $.Scratch.Set "paginator" true }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
</div>
</div>
{{ end }}
