.mermaid {
  margin: 1.5rem 0;
  padding: 1.5rem;
  overflow-x: auto; /* 横スクロールを可能にする */
  min-width: 100%;  /* コンテナの最小幅を画面幅に合わせる */
  width: auto;      /* 幅が自動的に調整されるようにする */
}

.mermaid svg {
  min-width: 600px; /* SVGの最小幅を指定し、小さくなりすぎないようにする */
  max-width: 100%;  /* 最大幅はコンテナの幅に合わせる */
  height: auto;     /* 高さを自動調整 */
  height: auto;
}
