{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-md-14 col-lg-14 col-xl-14">
        <article>
            <h1>{{ .Title }}</h1>
            {{ with .Content }}
                <div>{{ . }}</div>
            {{ end }}
            <div class="text-center" style="font-size: 5em; color: orange">▼</div>
			<div class="card-list">

            <div class="row">
                {{ $currentSection := .CurrentSection }}
                {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
                    {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
                    <div class="col-16 col-md-8 my-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <a class="stretched-link" href="{{ .RelPermalink }}">
                                    {{ .Params.title | title }} &rarr;
                                </a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
            </div>
        </article>
    </div>
</div>
{{ end }}
