{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-md-14 col-lg-14 col-xl-14">
        <article>
            <h1>{{ .Title }}</h1>
            {{ with .Content }}
                <div>{{ . }}</div>
            {{ end }}
            <hr />
            <div class="text-center" style="font-size: 2em; color: orange">▼記事一覧▼</div>
            <div class="text-center">このセクション配下の記事を一覧で表示しています。</div>
			<div class="card-list">
                <div class="row">
                    {{ $currentSection := .CurrentSection }}
                    {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
                        {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
                        <div class="col-16 col-md-8 my-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <a class="stretched-link card-title" style="font-weight: bold;" href="{{ .RelPermalink }}">
                                        {{ .Params.title | title }} &rarr;
                                    </a>
                                    {{ with .Params.description }}
                                        <p class="card-text mt-2" style="color: #888;font-size:16px">{{ . | truncate 50 }}</p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </article>
    </div>
</div>
{{ end }}
