{{ partial "header.html" . }}

{{ .Content }}
<div style="text-align:right;font-style:italic; margin-top: 20px;font-weight: 100;">
	最終更新日: {{ .Lastmod.Format "2006/01/02" }}
</div>
<footer class="footline" style="border-top: 1px solid #ccc; margin-top: 10px">
	<div class="flexmain">
		<div class="dp33">
			<a href="https://nipo-plus.web.app/" target="_blank">
				<img src='/images/banner2.webp' style="border-radius: 10px;">
			</a>
		</div>
		<div class="dp33">
			<a href="https://apps.apple.com/jp/app/id1625797169" target="_blank">
				<img src='/images/ios-app.webp'>
			</a>		
		</div>
		<div class="dp33">
			<a href="https://play.google.com/store/apps/details?id=jp.sndbox.nipoplus" target="_blank">
				<img src='/images/android-app.webp'>
			</a>
		</div>
	</div>
</footer>

{{ partial "footer.html" . }}
