{{ define "main" }}
<article>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10">
    <div class="blog-header">
      <h1>{{ .Title }}</h1>
      {{ if .Params.date }}
        {{ .Params.date.Format "2006年01月02日" }}
      {{ end }}
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
    <div class="mainContent">
      {{ .Content }}
    </div>
    {{ if .Params.tags -}}
    {{ partial "custom/tags.html" . }}
    {{ end -}}

  </div>
</div>
</article>
<a href="../" class="btn btn-outline-primary">ニュース一覧へ</a>

{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="related-posts">
<div class="row justify-content-center">
  <div class="col">
    <h2 class="section-title">その他のニュース</h2>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-lg-5">
  {{ range . -}}
  <div class="col">
    <div class="card">
      {{- .Scratch.Set "fillImageCard" "1270x620 Center" -}}
      {{ partial "content/card-image.html" . }}
      <div class="card-body">
        <article>
          <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
          <p>{{ .Params.description | safeHTML }}</p>
        </article>
      </div>
    </div>
  </div>
  {{ end -}}
</div>
</div>
{{ end -}}

{{ end }}


