<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>

</footer>
{{ partial "custom/svg-js.html" . }}
{{ partial "custom/tocHightlight-js.html" . }}
{{ partial "custom/modal.html" . }}

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/4.17.1/algoliasearch-lite.umd.min.js" integrity="sha512-dYj47Cv0or11Y6jtjdZ/Il4fCZYQPVaGmQNgZmRsStgPZfASZ8lWgbOD9GpkV+2Mu8LvspZW+AhlL8BmQnEOyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/search.js"></script>
<script>
  const client = algoliasearch('RS1NGDJQ75', '509fa49945876fcf0a41a65349ff2819');
  const index = client.initIndex('nipoplus');
</script>
