<!-- web / ios / android各種起動ボタン -->
<div class="flexmain">
  <div class="dp33">
    <a href="https://nipo-plus.web.app/" target="_blank">
      <img src='/images/banner2.webp' style="border-radius: 10px;" width="573" height="173" alt="nipoplusアプリ起動ボタン">
    </a>
  </div>
  <div class="dp33">
    <a href="https://apps.apple.com/jp/app/id1625797169" target="_blank">
      <img src='/images/ios-app.webp' width="573" height="173" alt="ios App Store">
    </a>		
  </div>
  <div class="dp33">
    <a href="https://play.google.com/store/apps/details?id=jp.sndbox.nipoplus" target="_blank">
      <img src='/images/android-app.webp' width="573" height="173" alt="Android Google Play Store">
    </a>
  </div>
</div>