<!-- 旧Nipoの場合に警告バナーを表示 -->
<div style="max-width:900px;margin:auto;margin-bottom: 2em;padding:1rem;background:tomato; color:white;border: 1px solid red;font-weight:bold;font-size:30px">
  【注意】ご覧のページは旧Nipoです<br>
  <span style="font-size:19px">今から始めるのであればNipoPlusを推奨（より安く高機能化）</span>
  <a href="/" class="top_right_btn">NipoPlusへ</a>
  <a href="/system/about/" class="top_right_btn">NipoとPlusの比較</a>
</div>

<!-- Nipo用CTA -->
<div style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: green;padding:20px">
    <div class="flexmain">
      <div class="dp25">
        <img loading="lazy" src='/images/nipologo.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="dp75" style="color: white">
        <h3 style="color:white">旧バージョンのNipoを起動します</h3>
        <ul>
          <li style="color:white">こちらは旧バージョンのアプリになります</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipoapp.sndbox.jp/" class="cta_btn" target="_blank" >Webではじめる</a>
    </div>  
  </div>

  <!-- web / ios / android各種起動ボタン
  <div class="flexmain">
    <div class="dp25">
      <a href="/old/system/ios-install/">
        <img loading="lazy" src='/images/apple.svg' width="108.85157" height="40" style="width:200px; height:auto" alt="ios App Store">
      </a>		
    </div>
    <div class="dp25">
      <a href="/old/system/android-install/">
        <img loading="lazy" src='/images/google-play-badge.png' width="646" height="192" style="width:200px; height:auto" alt="Android Google Play Store">
      </a>
    </div>
  </div>
-->
</div>