<!-- NipoPlus用CTA -->
<div style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: #722ed2d4;padding:20px;">
    <div class="flexmain">
      <div class="dp25">
        <img loading="lazy" src='/images/favicon.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="dp75" style="color: white">
        <h3 style="color:white">今すぐ無料で始めることができます</h3>
        <ul>
          <li style="color:white"><a href="/manual/account/tokumei/" style="color:white">匿名アカウントならメール・パスワードの設定なしで体験可</a></li>
          <li style="color:white">営業メールも電話も一切しません！クレカ登録も不要</li>
          <li style="color:white"><a href="/price/free" style="color:white">お試し期間後は無料プランへ移行します</a></li>
          <li style="color:white"><a href="/price/" style="color:white">有料プランも1ユーザ180円の低価格</a></li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipo-plus.web.app/" class="cta_btn" target="_blank">NipoPlusを起動</a>
    </div>
  </div>

  <!-- web / ios / android各種起動ボタン
  <div class="flexmain">
    <div class="dp25">
      <a href="/system/ios/">
        <img loading='lazy' src='/images/apple.svg' width="108.85157" height="40" style="width:200px; height:auto" alt="ios App Store">
      </a>		
    </div>
    <div class="dp25">
      <a href="/system/android/">
        <img loading='lazy' src='/images/google-play-badge.png' width="646" height="192" style="width:200px; height:auto" alt="Android Google Play Store">
      </a>
    </div>
  </div>
-->
</div>
