<!-- 旧Nipoの場合に警告バナーを表示 -->
<div style="max-width:900px;margin:auto;margin-bottom: 2em;padding:1rem;background:tomato; color:white;border: 1px solid red;font-weight:bold;font-size:30px">
  【注意】ご覧のページは旧Nipoです<br>
  <span style="font-size:19px">今から始めるのであればNipoPlusを推奨します</span>
  <a href="/" class="top_right_btn">NipoPlusへ</a>
</div>

<!-- Nipo用CTA -->
<div style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: green;padding:20px">
    <div class="flexmain">
      <div class="dp25">
        <img src='/images/nipologo.png' style="width:100%; max-height: 200px;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="dp75" style="color: white">
        <h3 style="color:white">旧バージョンのNipoを起動します</h3>
        <ul>
          <li style="color:white">こちらは旧バージョンのアプリになります</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipoapp.sndbox.jp/" class="cta_btn" target="_blank" onclick="gtag('event', 'footerCtaClick', {'value': '1'});" >Webではじめる</a>
    </div>  
  </div>

  <!-- web / ios / android各種起動ボタン -->
  <div class="flexmain">
    <div class="dp33">
      <a href="https://apps.apple.com/jp/app/nipo/id1385965600">
        <img src='/images/ios-app.webp' width="570" height="173" style="width:100%; height:auto" alt="ios App Store">
      </a>		
    </div>
    <div class="dp33">
      <a href="https://play.google.com/store/apps/details?id=jp.sndbox.nipoapp">
        <img src='/images/android-app.webp' width="570" height="173" style="width:100%; height:auto" alt="Android Google Play Store">
      </a>
    </div>
  </div>
</div>