
<input id="word" type="search" style="color:black" placeholder="検索" />
<div style="margin:auto">
  <button id="clearBtn"  class="baseBtn" style="display:none;color:black" onClick="remove()">検索クリア</button>
</div>
<div id="dataNotFound" style="display:none">見つかりませんでした</div>

<script>
  // すべての検索結果をリセットする
  function init () { while(result.firstChild) { result.removeChild(result.lastChild) } }
    // クリアボタン押下.検索のリセット
    function remove () {
      const word = document.getElementById('word')
      word.value = ''
      const sideMenu = document.getElementById('menuTopics')
      const clearBtn = document.getElementById('clearBtn')
      const dataNotFound = document.getElementById('dataNotFound')
      sideMenu.setAttribute('style', 'display:block')
      clearBtn.setAttribute('style', 'display:none')
      dataNotFound.setAttribute('style', 'display:none')
      init()
    }
  
  window.addEventListener('load', () => {
    let index = null
    const fileName = '/index.json'
    // 索引JSON取得
    fetch(fileName).then(res => res.json()).then(data => { index = data })
    const word = document.getElementById('word')
    //resultは結果表示エリア:menu.htmlにある
    const result = document.getElementById('result')
    //sidemenuはメニューエリア:検索が実行されるとメニューを非表示にして検索結果を表示する -> menu.htmlにある
    const sideMenu = document.getElementById('menuTopics')
    const clearBtn = document.getElementById('clearBtn')
    const contentWrap = document.getElementById('content-wrapper')
    const dataNotFound = document.getElementById('dataNotFound')

    word.addEventListener('input', () => {
      init()
      const searchWord = word.value.toLowerCase()
      if (searchWord === '') {
        // 検索単語が空欄の場合、検索をOFF
        sideMenu.setAttribute('style', 'display:block')
        return
      }
  
      sideMenu.setAttribute('style', 'display:none')
      clearBtn.setAttribute('style', 'display:inline')
  
      const res = index.filter(i => {
        const tmp = `${i.title} ${i.content}`.toLowerCase()
        const kana2Hira = (src) => {
          return src.replace(/[\u30a1-\u30f6]/g, function(match) {
            const chr = match.charCodeAt(0) - 0x60;
            return String.fromCharCode(chr);
          })
        }
        const searchWordHira = kana2Hira(searchWord)
        const contentAll = kana2Hira(tmp)
        return contentAll.match(searchWordHira)
      })
      if (res.length === 0) {
        dataNotFound.setAttribute('style', 'display:block')
      } else {
        dataNotFound.setAttribute('style', 'display:none')
      }
      res.forEach(i => {
        /*
          次のようなエレメントを生成する
          <a href=xxx>
            <div class="searchCard">
              <div class="searchCardTitle">
              </div>
            </div>
          </a>
        */
        const link = document.createElement('a')
        link.href = i.url
        const box = document.createElement('div')
        box.setAttribute('class', 'seachCard')
        const titleBox = document.createElement('div')
        titleBox.setAttribute('class', 'searchCardTitle')
        titleBox.appendChild(document.createTextNode(i.title))
        box.appendChild(titleBox)
        box.appendChild(document.createTextNode(i.content.substring(0, 50)))
        link.appendChild(box)
        result.appendChild(link)
        return link
      })
      contentWrap.scrollTo({ top: 0 })
    })
  })
</script>
<style>
  .seachCard {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .searchCardTitle {
  font-weight: bold;}
</style>
