<input type="text" id="keyword" />
<div>
  <ul id="list" style="">
</ul>
</div>

<style>
  #list {
  }
</style>
<script>
  /*
  var data = ['apple','apricot','avocado','banana','bilberry'];

  var keyupStack = [];
  var keyword = document.getElementById('keyword');
  keyword.addEventListener('keyup', function () {
    keyupStack.push(1);

    setTimeout(function () {
      keyupStack.pop();
      // 最後にkeyupされてから一定時間次の入力がなかったら実行
      if (keyupStack.length === 0) {
        // 部分一致を可能にする(例: .*a.*b.*c.*)
        var buf = '.*' + this.value.replace(/(.)/g, "$1.*");
        var reg = new RegExp(buf);
        
        var filteredLists = data.filter(function (d) {
        return reg.test(d);
        });
        createRow(filteredLists);
      }
    }.bind(this), 300);
  });

  var createRow = function (lists) {
    var list = document.getElementById('list');
    list.textContent = null;
    lists.forEach(function (l) {
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(l));
      list.appendChild(li);
    });
  };

// 初期表示
createRow(data);
*/
</script>