<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hidden" style="display: none;" viewBox="0 0 0 0" preserveAspectRatio="none">
  <defs>
    <!-- クリッピング Aliceを含む-->
    <clipPath>
      <rect id="withAliceFrame" class="withAliceFrameClass" x="10" y="10" width="800" height="500" stroke-width="20" stroke-linecap="round" rx="15" stroke="black" fill="none" />
    </clipPath>
    <!-- クリッピング Non Alice -->
    <clipPath>
      <rect id="nonAliceFrame" class="nonAliceFrameClass" x="50" y="10" width="900" height="640" stroke-width="20" stroke-linecap="round" rx="15" stroke="black" fill="none" />
    </clipPath>
  </defs>
</svg>
