{{ define "main" }}
<!-- TOPページのメインコンテンツ -->
<section>
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
    <article>
      {{ if .Params.lead -}}
        <div class="myLead">
          <div class="myLead__label">概要</div>
          <div class="myLead__content">{{ .Params.lead | safeHTML }}</div>
        </div>
			{{ end }}
      <div class="mainContent">
        {{- .Content -}}
      </div>
    </article>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid docs-content" >
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}


{{ define "rootHero" }}
<section class="section section-sm" style=" background: linear-gradient(to bottom, white, #e6e0ff);">

<div id="myhero">
  <h1 class="headLine">ブラウザやスマホで日報管理 Nipo+<br>無料でも使えます</h1>
  <div  class="mainLead mx-1">
    日報やチェックシートなど<strong>「テンプレート」</strong>がある報告書を簡単に作れます<br>
    データは1枚のエクセルにまとめて保存できるので集計や分析にも最適
  </div>
  <ul class="heroList">
    <li><a href="/tips/photo/">写真日報</a>や<a href="/tips/checksheet/">点検表</a>も作れる</li>
    <li><a href="/tips/mobile-device/">PC・モバイル</a>完全対応</li>
    <li><a href="/tips/analytics/">集計グラフ化可能</a></li>
  </ul>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="https://nipo-plus.web.app/#/" style="width: 100%" class="btn btn-primary btn-lg my-5" >無料で始める</a>
    </div>
  </div>
</div>
</section>
{{ end }}


{{ define "price" }}
<section class="section section-sm" style="background: rgba(178, 205, 214, 0.875)">

<div class="container my-5">
<h2 class="text-center">料金は4名までは無料でも使えます</h2>
  <div class="text-center">
    無料でも基本機能はずっと使える無料プラン。全ての機能が利用可能な有料プランがあります。  
    有料プランは1名180円と業界最安値水準です。5名から申し込み可能です
    安くても性能に妥協は有りません
  </div>
  <div class="row justify-content-center align-items-stretch">
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h3 class="my-0 fw-normal" style="color: white;">無料プラン</h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥{{ .Site.Data.constants.prices.free }}<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3">
            <li>4名まで</li>
            <li>🟢日報作成など必要最低限の機能</li>
            <li>❌集計やコメントなどの付加機能</li>
            <li>⚠テンプレート数などに制限あり</li>
          </ul>
          <a href="/docs/price/free/" class="d-block btn btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h3 class="my-0 fw-normal" style="color: white;">GOLDプラン(自動更新有)</h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥{{ .Site.Data.constants.prices.goldCredit }}<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3">
            <li>5名〜999名</li>
            <li>🟢すべての機能が利用可能です</li>
            <li>自動更新有り（毎月）</li>
            <li>※1名あたりの単価（税込）です</li>
          </ul>
          <a href="/docs/price/fee/" class="d-block btn btn-block btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h3 class="my-0 fw-normal" style="color: white;">GOLDプラン(請求書)</h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥{{ .Site.Data.constants.prices.goldInvoice }}<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3 ">
            <li>5名〜999名</li>
            <li>🟢すべての機能が利用可能です</li>
            <li>自動更新無し（手動で更新）</li>
            <li>請求書を発行して決済します</li>
            <li>※1名あたりの単価（税込）です</li>
          </ul>
          <a href="/docs/price/invoice/" class="d-block btn btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="/docs/price/_about/#diff">同業他社との料金比較</a>
  </div>

</div>

</section>
{{ end }}


{{ define "sidebar-prefooter" }}
<section class="section section-sm" style="background: rgba(178, 205, 214, 0.875)">
  <h2 style="text-align: center;">特徴の一部をご紹介</h2>
  <div class="container">
    <div class="row justify-content-center align-items-stretch text-center">
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
            <title>⚙</title>
            <path d="m388-80-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q2 10 2.5 21.5t.5 21.5q0 10-.5 21t-2.5 21l108 78-93 164-118-54q-16 13-36.5 25.5T592-206L572-80H388Zm92-270q54 0 92-38t38-92q0-54-38-92t-92-38q-54 0-92 38t-38 92q0 54 38 92t92 38Zm0-60q-29 0-49.5-20.5T410-480q0-29 20.5-49.5T480-550q29 0 49.5 20.5T550-480q0 29-20.5 49.5T480-410Zm0-70Zm-44 340h88l14-112q33-8 62.5-25t53.5-41l106 46 40-72-94-69q4-17 6.5-33.5T715-480q0-17-2-33.5t-7-33.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q24 24 53.5 41t62.5 25l14 112Z"/>
          </svg>

          </div>

          <h2 class="h4">テンプレートのカスタマイズ</h2>
          <p class="flex-grow-1">日報・チェックシート・現場の帳票、点検シートなどをテンプレートとして自由に設計</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/docs/manual/initial-setting/template/_about/" role="button">詳細</a>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
              <title>モバイルデバイス</title>
              <path d="M260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-150v90h440v-90H260Zm220.175 75q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM260-250h440v-520H260v520Zm0-580h440v-30H260v30Zm0 640v90-90Zm0-640v-30 30Z"/>
            </svg>
          </div>
          <h2 class="h4">モバイルファースト⚡️</h2>
          <p class="flex-grow-1">スマートフォン・タブレット・PCに完全対応</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/tips/mobile-device/" role="button">詳細</a>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
              <title>グラフ</title>
              <path d="M80-130v-60h800v60H80Zm40-120v-270h100v270H120Zm206 0v-470h100v470H326Zm207 0v-350h100v350H533Zm207 0v-590h100v590H740Z"/>
            </svg>
          </div>
          <h2 class="h4">データの集計📊</h2>
          <p class="flex-grow-1">生産高・売上高や選択式の単語選択回数を日別やスタッフ別に簡単に集計・グラフ化</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/tips/analytics/" role="button">詳細</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

