{{ define "main" }}
<div class="wrap container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}" role="document">
	<div class="content" style="max-width: 2000px;margin-left:auto;margin-right:auto">
<!-- TOPページのメインコンテンツ -->
<section>
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
    <article>
      {{ if .Params.lead -}}
        <div class="myLead">
          <div class="myLead__label">概要</div>
          <div class="myLead__content">{{ .Params.lead | safeHTML }}</div>
        </div>
			{{ end }}
      <div class="mainContent">
        {{- .Content -}}
      </div>
    </article>
  </div>
</section>
</div>
</div>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid docs-content" >
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}


{{ define "rootHero" }}
<section class="section section-sm" style=" background: linear-gradient(to bottom, white, #e6e0ff);">
<div id="myhero">
  <h1 class="headLine">日報のストレスを解消！簡単カスタマイズで自由な日報作成<br>NipoPlus</h1>
  <h2><a href="/lp/checksheet/">👉点検チェックシートとしても利用可能</a></h2>
  <ul class="heroList">
     <li>入力負担を大幅に軽減！<a href="/docs/manual/initial-setting/template/select/">🔽プルダウンや選択式入力を使った</a>簡単報告</li>
    <li>「<a href="/tips/analytics/">データを一目で把握📊</a>」集計・グラフ化で効率的な分析と報告</li>

    <li>「<a href="/tips/mobile-device/">スマホ📱完全対応</a>」時間にも場所にも囚われません</li>
  </ul>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      
      <a href="/docs/manual/account/tokumei/" style="width: 100%" target="_blank" class="btn btn-primary btn-lg my-5" >1クリックで手軽に体験できます</a>
      
    </div>
  </div>
</div>
</section>
{{ end }}


