{{ define "main" }}
<!-- TOPページのメインコンテンツ -->
<section class="section section-sm container-fluid docs-content" >
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
    <article>
      {{ if .Params.lead -}}
        <div class="myLead">
          <div class="myLead__label">概要</div>
          <div class="myLead__content">{{ .Params.lead | safeHTML }}</div>
        </div>
			{{ end }}
      <div class="mainContent">
        {{- .Content -}}
      </div>
    </article>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid docs-content" >
  <div class="row justify-content-center ">
    <div class="col-xs-16 col-md-12">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}


{{ define "rootHero" }}
<div id="myhero">
  <h1 class="headLine">簡単にカスタマイズ可能<br>クラウド報告書アプリ NipoPlus</h1>
  <div class="mainLead">
    ✅<a href="/tips/photo/">写真付き日報</a>もOK<br>
    ✅<a href="/tips/checksheet/">点検表</a>もOK<br>
    ✅PC・モバイルOK<br>
    ✅集計グラフ化もOK
  </div>
</div>
<div style="text-align:center">
  <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M450-800v526L202-522l-42 42 320 320 320-320-42-42-248 248v-526h-60Z"/></svg>
</div>
{{ end }}

{{ define "heroOld" }}
<div class="container-xxl">
  <div class="row align-items-center myhero" >
    <div class="col-sm-16 col-lg-7">
      <h1>日報をノーコードでアプリ化<br>スマホやPCで管理しよう</h1>
      <div class="mainContent">
        <h2>自作アプリのようにカスタマイズできます</h2>
        <ul>
          <li><a href="/tips/photo/">写真付き日報</a>や週報・月報</li>
          <li><a href="/tips/checksheet/">製造チェックシート</a></li>
          <li><a href="/tips/maintenance/">設備点検シート</a></li>
          <li>業務報告書・完了報告書など</li>
        </ul>
        <p>
          アイデアしだいで様々な報告書類を自由に自作できます。プログラミングの知識は一切不要です。
        </p>
          <dl class="faq">
            <dt>アプリ化すると何がいいの？</dt>
            <dd>外出先からスマホで日報を書いたり、作業場に据え置きのタブレットで検査結果を入力したりできます。報告書の管理がとても楽になります</dd>
          </dl>
      </div>

      <a href="https://nipo-plus.web.app/#/" class="btn btn-primary btn-lg my-5" style="width: 100%">今すぐ使ってみる</a>
    </div>
    <div class="col-sm-16 col-lg-9">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="withAliceNode" viewBox="0 0 1000 520" preserveAspectRatio="none">
        <title>NipoPlusのアプリ画面のイメージ図</title>
        <image x="10" y="10" width="1" height="1" class="withAlicePicture" data-src="sample10_" data-phone-path="none" data-tablet-path="none" xlink:href="data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
        <use xlink:href="#withAliceFrame" />
        <svg x="700" y="215" class="svgAliceClass" preserveAspectRatio="none" data-fontsize="30" data-msg="部品を組み合わせて 独自の日報が作れる">
          <image x="70" y="65" width="200" height="252" data-alice="/images/alice2/ok.png" xlink:href="data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
          <path d="M216.086 82.566 214.88 99.38l20.523-16.814h15.221c10.47.0 18.97-9.056 18.97-20.21V21.937c0-11.154-8.5-20.21-18.97-20.21h-231.32c-10.47.0-18.97 9.056-18.97 20.21v40.419c0 11.154 8.5 20.21 18.97 20.21h196.782z" style="fill:#fff;stroke:#000" />
        </svg>
      </svg>
    </div>
  </div>
</div>


{{ end }}

{{ define "price" }}

<div class="container my-5">
<h2 class="text-center">圧倒的低価格でご提供（無料プラン有り）</h2>
  <div class="text-center">無料プランではいくつかの機能制限が掛かります。<br>胸を張って<strong>「他社製品より圧倒的にリーズナブル」</strong>と断言します！</div>
  <div class="row justify-content-center align-items-stretch">
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h4 class="my-0 fw-normal">無料プラン</h4>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥0<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3">
            <li>4ユーザーまで</li>
            <li>🟢報告書の作成</li>
            <li>🟢報告書の承認・棄却</li>
            <li>❌集計機能</li>
            <li>❌コメント機能</li>
            <li>❌カレンダー機能</li>
            <li>❌一括のCSV出力（個別は可能）</li>
            <li>❌一括のPDF出力（個別は可能）</li>
            <li>❌過去データ推移</li>
          </ul>
          <a href="/docs/price/free/" class="d-block btn btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h4 class="my-0 fw-normal">GOLDプラン(クレジット)</h4>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥180<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3">
            <li>10ユーザ〜</li>
            <li>🟢すべての機能が利用可能です</li>
            <li>自動更新有り（毎月）</li>
            <li>※1名あたりの単価です</li>
            <li>※税込みです</li>
          </ul>
          <a href="/docs/price/fee/" class="d-block btn btn-block btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-5">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h4 class="my-0 fw-normal">GOLDプラン(請求書)</h4>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title pricing-card-title priceBoard">￥200<small class="text-muted">/月</small></p>
          <ul class="list-unstyled mt-3 ">
            <li>20ユーザ〜</li>
            <li>🟢すべての機能が利用可能です</li>
            <li>請求書は1年契約のみです</li>
            <li>自動更新無し</li>
            <li>※請求書発行手数料1000円必要</li>
            <li>※1名あたりの単価です</li>
            <li>※税込みです</li>
          </ul>
          <a href="/docs/price/invoice/" class="d-block btn btn-lg btn-outline-primary mt-auto">詳細</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}


{{ define "sidebar-prefooter" }}
<section class="section section-sm" style="background: rgba(178, 205, 214, 0.875)">
  <h2 style="text-align: center;">特徴の一部をご紹介</h2>
  <div class="container">
    <div class="row justify-content-center align-items-stretch text-center">
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
            <title>⚙</title>
            <path d="m388-80-20-126q-19-7-40-19t-37-25l-118 54-93-164 108-79q-2-9-2.5-20.5T185-480q0-9 .5-20.5T188-521L80-600l93-164 118 54q16-13 37-25t40-18l20-127h184l20 126q19 7 40.5 18.5T669-710l118-54 93 164-108 77q2 10 2.5 21.5t.5 21.5q0 10-.5 21t-2.5 21l108 78-93 164-118-54q-16 13-36.5 25.5T592-206L572-80H388Zm92-270q54 0 92-38t38-92q0-54-38-92t-92-38q-54 0-92 38t-38 92q0 54 38 92t92 38Zm0-60q-29 0-49.5-20.5T410-480q0-29 20.5-49.5T480-550q29 0 49.5 20.5T550-480q0 29-20.5 49.5T480-410Zm0-70Zm-44 340h88l14-112q33-8 62.5-25t53.5-41l106 46 40-72-94-69q4-17 6.5-33.5T715-480q0-17-2-33.5t-7-33.5l94-69-40-72-106 46q-23-26-52-43.5T538-708l-14-112h-88l-14 112q-34 7-63.5 24T306-642l-106-46-40 72 94 69q-4 17-6.5 33.5T245-480q0 17 2.5 33.5T254-413l-94 69 40 72 106-46q24 24 53.5 41t62.5 25l14 112Z"/>
          </svg>

          </div>

          <h2 class="h4">テンプレートのカスタマイズ</h2>
          <p class="flex-grow-1">日報・チェックシート・現場の帳票、点検シートなどをテンプレートとして自由に設計</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/docs/manual/initial-setting/template/_about/" role="button">詳細</a>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
              <title>モバイルデバイス</title>
              <path d="M260-40q-24 0-42-18t-18-42v-760q0-24 18-42t42-18h440q24 0 42 18t18 42v760q0 24-18 42t-42 18H260Zm0-150v90h440v-90H260Zm220.175 75q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM260-250h440v-520H260v520Zm0-580h440v-30H260v30Zm0 640v90-90Zm0-640v-30 30Z"/>
            </svg>
          </div>
          <h2 class="h4">モバイルファースト⚡️</h2>
          <p class="flex-grow-1">スマートフォン・タブレット・PCに完全対応</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/tips/mobile-device/" role="button">詳細</a>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <div class="h-100 d-flex flex-column">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 -960 960 960" width="60">
              <title>グラフ</title>
              <path d="M80-130v-60h800v60H80Zm40-120v-270h100v270H120Zm206 0v-470h100v470H326Zm207 0v-350h100v350H533Zm207 0v-590h100v590H740Z"/>
            </svg>
          </div>
          <h2 class="h4">データの集計📊</h2>
          <p class="flex-grow-1">生産高・売上高や選択式の単語選択回数を日別やスタッフ別に簡単に集計・グラフ化</p>
          <a class="btn btn-outline-primary btn-lg px-4" href="/tips/analytics/" role="button">詳細</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

