// icatchとitabletで使用

// 画像コンテナの一番外側
.uTabletContainer {
  position: relative; display: inline-block;width:100%;
}

// 画像コンテナ
.uedaTabletFrame {
  display: block;
  border: 10px solid #666;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  height: auto;
}

// 画像コンテナ内の画像
.uedaTabletPicture {
  display: block;
  width: 100%;
  height: auto;
}
// icatchとitabletで使用
.uedaCharactorContainer {
  position: absolute;
  bottom: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  z-index: 2;
}

// icatchとitabletで使用
.ueda_character {
  background-color: #e0f7fa;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  min-width: 120px;
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

// 吹き出しのスタイル
.ueda_speech-bubble {
  color: black;
  background: #FFD9B3;
  border: 3px solid orange;
  border-radius: 10px;
  padding: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: orange;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: orange;
  }
}

@media (max-width: 768px) {
  .ueda_character {
    display: none;
  }
  .uedaCharactorContainer {
    display: block;
    width:100%;
  }

}
