

/** リンクカードのショートコードをハック */
.card-nav {
    .card {
        background-color: ivory; // ここで好きな色に変更
        color: black;
    }
}
/** ページ末尾ページネーション */
.page-nav {
    .card {
      background-color: ivory;
      color: black;
    }
}

/** detailsタグの背景色を変更.mainの中のみ */
main {
    details {
        background-color: #E8F5E9; // ライトモード（デフォルトの背景色）
        transition: background-color 0.3s;
    }

    // ダークモード時のスタイル
    html[data-bs-theme="dark"] & details {
        background-color: #2E4B2C !important; // ダークモード時の背景色
    }

    details[open] summary {
        background-color: rgba(0, 0, 0, 0.1); // 開いたときの背景色
    }

    // ダークモード時の開いた details のスタイル
    html[data-bs-theme="dark"] & details[open] summary {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

/** 左サイドバーナビゲーションテーマカラー */
.theme-docs {
    background-color: #E6DFF0;
}

html[data-bs-theme="dark"] .theme-docs {
    background-color: #3E2F4F;
}


.theme-legacy {
    background-color: #DFF0E6;
}

html[data-bs-theme="dark"] .theme-legacy {
    background-color: #2F4F3E;
}


.theme-excel {
    background-color: #DFF0E6;
}

html[data-bs-theme="dark"] .theme-excel {
    background-color: #2F4F3E;
}


.theme-tech {
    background-color: #F0D6D6;
}

html[data-bs-theme="dark"] .theme-tech {
    background-color: #4F2F2F;
}


.theme-tips {
    background-color: #D6E6F0;
}

html[data-bs-theme="dark"] .theme-tips {
    background-color: #2F3E4F;
}


.theme-reverse {
    background-color: #F0E6D6;
}

html[data-bs-theme="dark"] .theme-reverse {
    background-color: #4F3E2F;
}
