/* h1 */
$baseColor: darkslateblue;
/* h2 */
$accentColor: blueviolet;
/* h3 */
$subColor: slateblue;
/* h4 */
$h4Color: mediumpurple;

/* nav bar */
$lightColor: rgb(189, 184, 221);
$veryLightColor: rgb(224, 222, 241);
