/* 用語説明等に使う一般的なDL */
dl.basic {
  width: 100%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;


  dt {
    // background-color: aliceblue;
    font-size: 16px;
    width: 200px;
  }

  dd,
  p {
    width: calc(100% - 200px);
  }

  dt,
  dd,
  p {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 15px 30px;
  }

  /* リンクを強調 */
  dt a,
  dd a {
    text-decoration: underline;
    font-weight: bold; /* 太字にして強調 */
  }

  dt a:hover,
  dd a:hover {
    text-decoration: none; /* ホバー時に下線を消す */
  }

    /* dd 内の ul では margin を 0 にする */
  dd ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
    border-left: none;
    display: block;

    dt,
    p {
      border-bottom: none;
      padding-bottom: 0;
    }

    dt,
    dd,
    p {
      border-right: none;
      width: 100%;
      padding: 10px 15px;
    }

    /* モバイル用のリンク強調 */
    dt a,
    dd a {
      font-size: 18px; /* モバイルでは少し大きく */
    }
  }
}

dl.faq {
  padding: 1em;

  dt {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted;
    font-weight: bold;
    display: flex;
    align-items: flex-start;

    &:before {
      content: 'Q';
      font-weight: normal;
      background: red;
      color: #fff;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.6;
      text-align: center;
      display: inline-block;
      border-radius: 1em;
      margin-right: 0.5em;
      flex-shrink: 0;
    }
  }

  dd {
    margin-bottom: 2em;

    &:before {
      content: 'A';
      font-weight: normal;
      background: blueviolet;
      color: #fff;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.6;
      text-align: center;
      display: inline-block;
      border-radius: 1em;
      margin-right: 0.5em;
      flex-shrink: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }

    ul {
      display: inline-block; /* UL要素をインライン要素として扱い、回り込みを回避する */
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
