.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.lightbox-image {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.lightbox:target {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}



.lightbox img {
  width: 100%; /* 画像の横幅を親要素に合わせる */
  height: auto; /* 自動的に縦横比を保つ */
  object-fit: contain; /* 画像全体が収まるようにする */
}