/*番号付きリスト */
.mainContent ol {
  counter-reset: list;
  list-style-type: none;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
  li {
    position: relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    &::before {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      left: -35px;
      width: 30px;
      height: 30px;
      background: $subColor;
      text-align: center;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* 番号なしリスト */
.mainContent ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;

  li {
    position: relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;

    &::before {
      counter-increment: list;
      content: '▶'; /* 独自のマーカーを追加 */
      position: absolute;
      left: -35px;
      width: 25px;
      height: 30px;
      background: $subColor;
      text-align: center;
      color: #fff;
      top: 0; /* リスト項目の先頭に配置 */
      transform: translateY(0); /* トランスフォームをリセット */
    }
  }
}

#toc a.active {
  border-left: 5px solid skyblue;
}