h1 {
  color: $baseColor;
  font-size: 3.5rem;
}
h2 {
  color: $accentColor;
}
h3 {
  color: $subColor;
}
h4 {
  color: $h4Color;
}
/* Algolia検索結果のハイライト */
#app em {
  color: red;
  background-color: yellow;
}

/* h2-h6のページ内リンクズレ修正用スタイル */
@mixin heading-style {
  font-weight: bold;
  position: relative;
  padding-top: 67px;

  &::before {
    content: '';
    display: block;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
  }
}

.docs-content {
  h2,
  h3,
  h4 {
    @include heading-style;
  }
}
/** 強調表示 アンダーバーを引く */
strong {
  font-weight: 900;
  background: linear-gradient(transparent 60%, orange 60%);
}
/** 段落内のリンクを強調 */
p {
  font-size: 1.1em;
  a {
    font-weight: bold;
  }
}
/** 引用クラス */
blockquote {
  position: relative;
  padding: 1em 2em;
  margin: 1.5em 0;
  border-left: 4px solid #6c757d;
  &::before {
    content: '\201C';
    font-size: 3em;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    opacity: 0.6;
  }
  p {
    margin: 0;
    padding-top: 0.5em;
  }
}
/** 料金テーブル */
.priceBoard {
  font-size: 3rem;
  font-weight: bold;
}

/*パンくずリスト下の下線 */
.breadcrumb {
  border-bottom: 1px dashed purple;
}

/* リード */
.myLead {
  position: relative;
  border: solid 1px $baseColor;
  border-radius: 5px;
  margin-bottom: 40px;

  &__label {
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 600;
    padding: 0 10px; // paddingを左右にいれて消す線の長さを延ばす
    transform: translateY(-50%);
    &::before {
      position: absolute;
      z-index: -1; // 何もしないと線が上に来ていたので-1して後ろに回り込ませる
      left: 0;
      bottom: 50%; // top: 50%だと1pxずれていたのでbottomから計算する
      width: 100%; // 親要素の幅を参照するため必ず文字分は消せる
      height: 1px;
      content: '';
    }
  }
  &__content {
    padding: 20px;
  }
}

#myhero {
  margin-top: 5em ;
  margin-bottom: 5em;
  .headLine {
    animation: SlideIn 1s forwards;
    font-size: calc(1.875rem + 1.5vw);
  }
  .heroList {
    margin-top: 30px;
    font-size: 2rem;
    list-style: none;
    li::before {
      content: '✅ ';
    }
  }
  /* CSSアニメーションの設定 */
  @keyframes SlideIn {
    0% {
      opacity: 0; /*初期状態では透明に*/
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 599px) {
  #myhero {
    padding: 0;
    .heroList {
      padding-left: 10px;
      font-size: 1.2em;
    }
  }
}

.rootMainText p {
  font-size: 1.3em;
}

/** バグフィックス: TOPページで link-cardを使うと微妙にずれるバグを回避させる */
.home .content .card-body {
  padding-top: 1rem !important;
}

