body{
  overflow-x: hidden;
}
.container-xxl {
  max-width: 2000px;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: $baseColor;
}
/* h2-h6のページ内リンクズレ修正用スタイル */
@mixin heading-style {
  font-weight: bold;
  position: relative;
  padding-top: 67px;

  &::before {
    content: '';
    display: block;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
  }
}
.docs-content {
  h2, h3, h4, h5, h6 {
    @include heading-style;
  }
}

h2 {
  color: $accentColor;
  font-size: 2rem;
  margin-top: 50px
}

h3 {
  color: $subColor;
  font-size: 1.8rem;
  margin: 3rem 0 1rem;
}

h4 {
  font-size: 1.6rem;
  margin: 2rem 0 1rem;
}

h5 {
  font-size: 1.4rem;
  margin: 1.5rem 0 1rem;
}

h6 {
  font-size: 1.2rem;
  margin: 1rem 0 1rem;
  padding-top: 40px;
}
.accentColor {
  color: $accentColor;
}

strong {
  color: black;
  font-weight: 900;
  background:linear-gradient(transparent 60%, orange 60%);
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

p  {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.priceBoard {
  font-size: 3rem;
  font-weight: bold;
  color: $baseColor;
  margin-top: 1em;
}
#TableOfContents .active {
  background-color: powderblue;
}
/*パンくずリスト下の下線 */
.breadcrumb {
  border-bottom: 1px dashed purple;
}
/* Top Navi 背景*/
.navBarBackgroundColor {
  background-color: $lightColor;
}
.svgLineColor {
  fill: $baseColor;
}
/* Algolia検索結果のハイライト */
#app em {
  color: red;
  background-color: yellow;
}

/*番号付きリスト */
.mainContent ol {
  counter-reset: list;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  li {
    position: relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    &::before {
      counter-increment: list;
      content: counter(list);
      position: absolute;
      left: -35px;
      width: 30px;
      height: 30px;
      background: $subColor;
      text-align: center;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* 番号なしリスト */
.mainContent ul {
  list-style-type: none;
  padding: 0;
  li {
    position: relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    
    &::before {
      counter-increment: list;
      content: "■"; /* 独自のマーカーを追加 */
      position: absolute;
      left: -35px;
      width: 30px;
      height: 30px;
      background: $subColor;
      text-align: center;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* Excel風の見た目をしたTable */
.excelTable {
  max-width:100%;
  overflow:scroll;
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  tr:first-child th {
    background-color: #000;
    color: white;
  }
  td:first-child {
    background-color: #000; /* 1列目の背景色を緑に設定 */
    color: white;
  }
}


.docs-link.active {
  background-color: powderblue;
}
.docs-link.active:hover {
  background-color: powderblue;
}
.pageCards:hover {
  background-color: $lightColor;
}
.docs-content {
  max-width: 2200px;
}

/* リード */
.myLead {
  position: relative;
  border: solid 1px $baseColor;
  border-radius: 5px;
  background-color: $veryLightColor;
  margin-bottom: 40px;

  &__label {
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 600;
    padding: 0 10px;  // paddingを左右にいれて消す線の長さを延ばす
    transform: translateY(-50%);

    &::before {
      position: absolute;
      z-index: -1;  // 何もしないと線が上に来ていたので-1して後ろに回り込ませる
      left: 0;
      bottom: 50%;  // top: 50%だと1pxずれていたのでbottomから計算する
      width: 100%;  // 親要素の幅を参照するため必ず文字分は消せる
      height: 1px;
      background-color: #fff;
      content: '';
    }
  }

  &__content {
    padding: 20px;
  }
}

#myhero {
  height: calc(100vh);
  padding: 0 2em;
  min-height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .headLine{
    animation: SlideIn 1.0s forwards;
  }
  .mainLead {
    font-size: 1.6rem;
  }
  .heroList {
    margin-top: 30px;
    font-size: 2rem;
    list-style: none;
    li::before {
      content: "✅ ";
    }
  }
  /* CSSアニメーションの設定 */
  @keyframes SlideIn {
    0% {
      opacity: 0;/*初期状態では透明に*/
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 599px) {
  #myhero {
    overflow-x: hidden;
    padding: 0;
    .headLine {
      font-size: 1.7em;
      margin-bottom: 10px;
      margin-top: 0;
    }
    .mainLead {
      font-size: 1.2em;
    }
    .heroList {
      font-size: 1.2em;

    }
  
  }
}

.noUnderline:hover {
  text-decoration: none;

}

blockquote {
  position: relative;
  padding: 1em 2em; 
  margin: 1.5em 0;
  border-left: 4px solid #6c757d; 
  background-color: #f7f8fa; 

  &::before {
    content: "\201C"; 
    font-size: 3em;
    position: absolute;
    top: 0.2em; 
    left: 0.2em;
    color: #6c757d; 
    opacity: 0.6;
  }

  p {
    margin: 0;
    padding-top: 0.5em; 
  }
}