{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.navbarSticky true -}}
<div class="sticky-top">
{{ end -}}


<header class="navbar navbar-expand-lg  doks-navbar navBarBackgroundColor">
  <nav class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} flex-wrap flex-lg-nowrap" aria-label="Main navigation">

    <a class="navbar-brand order-0 m-0 p-0" href="{{ .Site.BaseURL | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
      {{ if eq .Params.isNipo true }}
      <img loading="lazy" src='/images/nipologo.svg' style="max-width:50px;" width="50" height="50" alt="Nipo ロゴ">
      {{ else }}
      <img loading="lazy" src='/images/favicon.svg' style="max-width:50px;" width="50" height="50" alt="NipoPlus ロゴ">
      {{ end}}
    </a>
    <!-- 検索ボタン -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#searchBoxModal">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <circle cx="10" cy="10" r="7" stroke="black" stroke-width="2" fill="none"/>
        <line x1="15" y1="15" x2="22" y2="22" stroke="black" stroke-width="2"/>
    </svg>
    </button>
    


    <!-- 右端ボタン -->
    <button class="btn btn-menu order-2 d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="4" y1="8" x2="20" y2="8"></line>
        <line x1="4" y1="16" x2="20" y2="16"></line>
      </svg>

    </button>
    <div class="offcanvas offcanvas-end border-0 py-lg-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="offcanvas-header d-lg-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ "/" | relLangURL }}">{{ .Site.Params.Title }}</a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
      </div>
      <div class="offcanvas-body p-4 p-lg-0">
        <!-- ドキュメントナビゲーション（デスクトップでは左側のやつ） -->
        {{ if (in .Site.Params.sections.sectionNav .Section) -}}
        <div class="d-lg-none">
          <div class="">
            <aside class="doks-sidebar mt-n3">
              <nav id="doks-docs-nav1" aria-label="Tertiary navigation">
                {{ partial "sidebar/docs-menu.html" . }}
              </nav>
            </aside>
          </div>
        </div>
        {{ end }}
        <ul class="nav flex-column flex-lg-row align-items-lg-center mt-2 mt-lg-0 ms-lg-2 me-lg-auto">

          {{- $current := . -}}
          {{- $section := $current.Section -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors" "categories" "tags")) -}}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                  <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li>
                      <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                    </li>
                  {{ end -}}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end -}}
        </ul>


        <ul class="nav flex-column flex-lg-row">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link social-link" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-lg-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>

        {{ if eq .Site.Params.options.multilingualMode true -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <div class="dropdown">
          <button class="btn btn-doks-light dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
            {{ .Site.Params.languageName }}
            <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end me-lg-2 shadow rounded border-0" aria-labelledby="doks-languages">

            <li><a class="dropdown-item current" aria-current="true" href="{{ .RelPermalink }}">{{ .Site.Language.LanguageName }}</a></li>

            <li><hr class="dropdown-divider"></li>

            {{ if .IsTranslated -}}
              {{ range .Translations }}
                <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a></li>
              {{ end -}}
            {{ else -}}
              {{ range .Site.Languages -}}
                {{ if ne $.Site.Language.Lang .Lang }}
                  <li><a class="dropdown-item" rel="alternate" href="{{ .Lang | relLangURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
                {{ end -}}
              {{ end -}}
            {{ end -}}
          </ul>
        </div>
        {{ end -}}

      </div>
    </div>

    {{ if eq .Params.isNipo true }}
    <a class="btn btn-success" href="https://nipoapp.sndbox.jp/" target="_blank" role="button">起動</a>
    {{ else }}
    <a class="btn btn-primary" href="https://nipo-plus.web.app/" target="_blank" role="button">起動</a>
    {{ end }}


  </nav>
</header>

{{ if eq .Site.Params.options.navbarSticky true }}
</div>
{{ end -}}

{{ if eq .Section "docs" -}}
<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav2" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>

{{ else if ne .CurrentSection .FirstSection -}}

<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}
