{{ if eq .Params.isNipo true }}
{{ partial "custom/oldapp-warning.html" . }}

<!-- Nipo用CTA -->
<div style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: green;padding:20px">
    <div class="row">
      <div class="col-sm-5">
        <img loading="lazy" src='/images/nipologo.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="col-sm-16 col-md-10" style="color: white">
        <h3 style="color:white">旧バージョンのNipoを起動します</h3>
        <ul>
          <li style="color:white">こちらは旧バージョンのアプリになります</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipo-plus-doc.sndbox.jp/" class="btn btn-negative" style="background-color: orange;" target="_blank" >NipoPlusへ移動</a>
      <a href="https://nipoapp.sndbox.jp/" class="btn btn-primary" target="_blank" >Nipoを起動</a>
    </div>  
  </div>

</div>
{{ else }}

<!-- NipoPlus用CTA -->
<aside class="mt-5" style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: #722ed2d4;padding:20px;">
    <div class="row">
      <div class="col-sm-5">
        <img loading="lazy" src='/images/favicon.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="col-sm-16 col-md-10" style="color: white">
        <h3 style="color:white">今すぐNipoPlusを無料体験しよう！</h3>
        <ul>
          <li>簡単スタート：ワンクリックで<a href="/docs/manual/utils/tokumei/" style="color:white;text-decoration:underline">仮IDを発行</a>（Web版のみ）</li>
          <li>リスクなし：30日のトライアル後は<a href="/docs/price/free/" style="color:white;text-decoration:underline">無料プラン</a>へ自動で切替</li>
          <li>安心登録：クレジットカード不要、削除も簡単</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipoplus.sndbox.jp/" class="btn btn-lg btn-warning my-3" style="color:black" target="_blank">今すぐ無料体験を開始</a>
    </div>
  </div>
  <div  style="text-align:right">
    <a href="/docs/system/mobile-install/#appStore" ><img loading="lazy" src='/images/apple.svg' width="109" height="40" style="width:150px; height:auto" alt="ios App Store"></a>
    <a href="/docs/system/mobile-install/#googlePlay"><img loading="lazy" src="/images/google-play-badge.png" width="646" height="192" style="width:180px; height:auto" alt="Android Google Play Store"></a>
  </div>
</aside>

{{ end }}