{{ if eq .Params.isNipo true }}
{{ partial "custom/oldapp-warning.html" . }}

<!-- Nipo用CTA -->
<div style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: green;padding:20px">
    <div class="row">
      <div class="col-sm-5">
        <img loading="lazy" src='/images/nipologo.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="col-sm-16 col-md-10" style="color: white">
        <h3 style="color:white">旧バージョンのNipoを起動します</h3>
        <ul>
          <li style="color:white">こちらは旧バージョンのアプリになります</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="https://nipo-plus-doc.sndbox.jp/" class="btn btn-negative" style="background-color: orange;" target="_blank" >NipoPlusへ移動</a>
      <a href="https://nipoapp.sndbox.jp/" class="btn btn-primary" target="_blank" >Nipoを起動</a>
    </div>  
  </div>

</div>
{{ else }}

<!-- NipoPlus用CTA -->
<aside class="mt-5" style="max-width:900px;margin:auto">
  <div id="call_to_action" style="background-color: #722ed2d4;padding:20px;">
    <div class="row">
      <div class="col-sm-5">
        <img loading="lazy" src='/images/favicon.svg' style="max-width:200px; width:100%;height:auto;" width="200" height="200" alt="nipoplusアプリ起動ボタン">
      </div>
      <div class="col-sm-16 col-md-10" style="color: white">
        <h3 style="color:white">メールもPWも不要で手軽に体験</h3>
        <ul>
          <li>ワンクリックで仮IDを発行できます（Web版のみ）</li>
          <li>30日間はトライアルでフル機能が利用可</li>
          <li>気に入らなければ簡単に削除可能</li>
        </ul>
      </div>
    </div>
    <div style="text-align: center;margin-top: 3em;margin-bottom: 3em;">
      <a href="/manual/account/tokumei/" class="btn btn-lg btn-info my-3" style="color:black" target="_blank">仮IDとは？</a>
      <a href="https://nipoplus.sndbox.jp/" class="btn btn-lg btn-warning my-3" style="color:black" target="_blank">NipoPlusを起動</a>
    </div>
  </div>
  <div  style="text-align:right">
    <a href="/docs/system/ios/" ><img loading="lazy" src='/images/apple.svg' width="109" height="40" style="width:150px; height:auto" alt="ios App Store"></a>
    <a href="/docs/system/android/"><img loading="lazy" src="/images/google-play-badge.png" width="646" height="192" style="width:180px; height:auto" alt="Android Google Play Store"></a>
  </div>
</aside>

{{ end }}