
<!-- Modal -->
<div class="modal fade" id="searchBoxModal" tabindex="-1" aria-labelledby="searchBoxModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchBoxModalLabel">検索</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="app">
          <input type="text" v-model="word" class="w-100">
          <hr />

          <div v-if="isNotFound">見つかりませんでした。</div>
          <a v-else v-for="row in resultArr" style="border-bottom: 1px solid #ccc" :href="[[row.relpermalink]]" class="list-group-item list-group-item-action mb-2">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="my-0">[[ row.shortTitle ]]</h6>
            </div>
            <p class="mb-1" style="font-size: 15px; color: #666;" v-html="row.shortSummary"></p>
            <span class="badge rounded-pill bg-primary mx-2 mb-2" v-for="tag in row.tags">[[ tag]]</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <div style="font-size:13px">
        検索にはAlgoliaを利用
        <a href="https://www.algolia.com/" target="_blank"><img src="/images/Algolia-logo-blue.svg" width="100px" alt="algolia logo"></a>
      </div>
      </div>

    </div>
  </div>
</div>