<!-- 旧Nipoの場合に警告バナーを表示 -->
<div style="max-width: 1500px; margin: auto; margin-bottom: 2em; padding: 1rem; background: tomato; color: white; border: 1px solid red; font-weight: bold; font-size: 30px">
  <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
    <title>warning</title>
    <path fill="white" d="m40-120 440-760 440 760H40Zm104-60h672L480-760 144-180Zm340.175-57q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM454-348h60v-224h-60v224Zm26-122Z" />
  </svg>
  Nipoは旧バージョン<br />
  <div style="font-size: 19px">新規の方はより高機能なNipoPlusをご利用ください</div>
  <a href="/docs/manual/quickstart/" class="btn btn-primary">NipoPlusへ</a>
  <a href="/legacy/about/diff/" class="btn btn-primary">NipoとPlusの比較</a>
</div>
