{{ $moji := .Get "filename" }}
{{ $title := .Get "title" | default "SVGによるNipoPlus画面イメージ"}}
{{ $desc := .Get "desc" | default "未設定" }}
{{ $imgTablet := .Page.Resources.GetMatch (printf "%s_tablet*" ($moji)) }}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="nonAliceNode" viewBox="0 0 1000 520" preserveAspectRatio="none">
  <title>{{ $title}}</title>
  <desc>{{ $desc }}</desc>
  <image  x="50" y="10" width="800" heigh="auto" class="nonAlicePicture" data-src="{{ $moji}}_" xlink:href="data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" />
  <use xlink:href="#nonAliceFrame" />
</svg>
<a href="javascript:void(0);" class="" data-featherlight="#{{$moji}}">画像を拡大</a>
<div class="featherlight-sample" id="{{$moji}}">
  <figure>
    <img loading="lazy" src="{{ $imgTablet.RelPermalink }}" alt="{{$desc}}" />
    <figcaption>{{ $desc }}</figcaption>
  </figure>
</div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": {{ $imgTablet.Permalink }},
    "license": "/system/credit/",
    "acquireLicensePage": "/system/credit/",
    "creditText": "sandbox LLC",
    "creator": {
      "@type": "Person",
      "name": "shinya ueda"
     },
    "copyrightNotice": "Nipo Plus"
  }
</script>
