<!-- 
  画像コンバータ
  .Get 0 画像ファイル名
  .Get 1 alt 画像の説明
-->

{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $alt := .Get 1 | default "Undef" }}

<div class="uTabletContainer mb-5 mt-5">
  <div class="uTabletFramePos">
    <picture class="uedaTabletPicture">
      <source srcset="{{ $img.RelPermalink }}" media="(min-width: 769px)">
      <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" class="uedaTabletPicture" loading="lazy"  width="{{ $img.Width }}" height="{{ $img.Height }}">
    </picture>
  </div>
</div>

<i>
{{ $alt }}
</i>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageObject",
  "caption": "{{ $alt }}",
  "contentUrl": "{{ $img.RelPermalink }}",
  "license": "/system/credit/",
  "acquireLicensePage": "/system/credit/",
  "creditText": "sandbox LLC",
  "creator": { "@type": "Person", "name": "shinya ueda" },
  "copyrightNotice": "Nipo Plus"
}
</script>