<!-- 
  画像コンバータ
  .Get 0 画像ファイル名
  .Get 1 alt 画像の説明
-->

{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $alt := .Get 1 }}
{{ $webp := "1800x webp" }}

{{ $small := $img.Resize "480x webp" }}
{{ $mid := $img.Resize "1024x webp" }}
{{ $full := $img.Resize "1500x webp" }}

<figure style="padding: 0rem; margin: 0rem 0; background-color: #ffff; ">
  <picture>
    <img style="max-width: 100%; width: auto; height: auto;" src="{{ $full.RelPermalink }}" width="{{ $full.Width }}" height="{{ $full.Height }}" alt="{{ $alt }}" srcset="
      {{ $small.RelPermalink }} 480w,
      {{ $mid.RelPermalink }} 1024w,
      {{ $full.RelPermalink }} 1500w
    ">
    <figcaption>
      <i style="font-size: 13px;">
        {{ with .Inner }}
          {{ . }}
        {{ else }}
          {{ $alt }}
        {{ end }}
      </i>
    </figcaption>
  </picture>
</figure>