// Put your custom SCSS variables here
/* h1 */
$baseColor: darkslateblue;
/* h2 */
$accentColor: blueviolet;
/* h3 */
$subColor: slateblue;
/* h4 */
$h4Color: mediumpurple;
$font-family-sans-serif:
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Hiragino Sans",
  "Yu Gothic",
  "Noto Sans JP",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
